.catalog {
  display: grid;
  grid-template-columns: repeat(auto-fill, $card-size);
  justify-content: center;
  column-gap: $distance-between-blocks-hor;
  row-gap: $distance-between-blocks-vert;
  max-width: 4 * $card-size + ($distance-between-blocks-hor * 3);

  &--indention {
    margin: 50px auto;
  }
}
